.profile-container {
    width: 100%;
    height: 95vh;
    background-color:#c5c5c5;
  }
  
  .profile {
    width: 100%;
    height: 50%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    border: solid;
    width: 210px;
    height: 210px;
    margin: 10px 40px 0 40px;
    color: rgb(1, 1, 1);
    margin: auto;
    border-radius: 150px;
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0%;
  }
  
  .avatar-img {
    margin: auto;
    width: 205px;
    height: 205px;
    border-radius: 150px;
  }
  
  .profile-data {
    display: flex;
    flex-direction: column;
    min-height: 20%;
    height: auto;
    background-color: #757575;
    color: aliceblue;
  }
  
  .main-data {
    min-height: 235px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .name{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto 40px;
    height: 100%;
    width: 20%;
  }
  
  .links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto 20px;
    height: 100%;
    width: 200px;
  }
  
  .links a{
    display: flex;
    margin: auto ;
    padding: 10px;
    color: #282634;
  }
  
  .links img {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 20px;
  }

  

  
  .location {
    display: flex;
    flex-direction: row;
    width: 170px;
  }
  
  .geo-icon {
    height: 30px;
    width: 30px;
    margin: auto 0px;
    border-radius: 20px;
  }
  
  .geo-label {
    margin: auto 10px;
  }
  
  .misc-data {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #c5c5c5;
    flex-direction: row;
  }
  
  .misc-info {
    text-align: center;
    width: 100px;
    margin: auto 0px; 
    padding: 17px;
    color: rgb(53, 53, 53);
  }
  
  .misc-info:hover {
    background-color: rgba(167, 167, 167, 0.671);
  }
  
  .info {
    margin: autopx;
    text-align: center;
    cursor:default;
  }