.github-icon {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .git-icon {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    color: #e0e0e0;
    transition: .5s;
    box-shadow: 1px 1px 6px 0px;
  }
  
  .git-icon:hover {
    border-radius: 20px;
    box-shadow: none;
  }