.error {
    height: 100px;
    width: 80%;
    background-color: #ffffff7d;
    border-radius: 20px;
    box-shadow: 0px 4px 9px -7px;

  }
  
  .error h3 {
    margin: auto;
    color: rgb(23, 23, 23);
  }
  