  .brand{
    width: auto;
    height: 70px;
    margin: auto 10px;
  }

  .brand-name {
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    font-size: 35px;
    font-weight:900;
    cursor: pointer;
  }

  .brand-name:hover {
    color: aliceblue;
  }
