  
  .brand-name {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    width: 200px;
    font-size: 35px;
    font-weight:bolder;
    cursor: pointer;
  }

  .brand-name:hover {
    color: aliceblue;
  }
